iGame
src/*_cat.*
src/*.o
src/iGame_strings.h
iGame.0*0
iGame_rel/iGame.info
iGame.MOS
iGame.OS4
iGame-v*/
iGame-v*.lha
iGame-v*.info
send_to_emul
catalogs/*/iGame.catalog
.vscode
.idea
.DS_Store
*.uaem
/Disk.info
/MUI.info
/Picasso96.info
/iGame.040.info
/install_temp.info
install_temp/
MUI/
Picasso96/
gameslist.csv
igame.prefs
repos.prefs
screen1.png
noguigfx.png
guigfx.png
guigfx_render_nofpu.lha
settings.jpg
igame_screenshot.png
igame.ratings
