# build artifacts
iGame
iGame.0*0
iGame.MOS
iGame.OS4
src/*_cat.*
src/*.o
src/iGame_strings.h

# release artifacts
iGame-v*/
iGame-v*.lha
iGame-v*.info
iGame_rel/

# runtime files
gameslist.csv
igame.prefs
igame.ratings
repos.prefs

# emulator artifacts
*.uaem
send_to_emul

# editor/os
.vscode
.idea
.DS_Store

# catalogs (built from .po)
catalogs/*/iGame.catalog
